<p>Table Works!</p>
<nz-table
  #basicTable
  [nzData]="ListOfData"
  [nzShowPagination]="true"
  [nzPageSize]="3"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzWidth]="column.width"
        [nzSortOrder]="column.sortOrder"
        [ngClass]="column.class"
        [nzSortDirections]="column.sortDirections"
        (nzSortOrderChange)="nzSortChange($event, column)"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of basicTable.data">
      <tr ngClass="row-table-selected" (click)="clickRow(row)">
        <td *ngFor="let col of listOfColumns">{{ row[col["field"]] }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
