<h1 [ngStyle]="{ 'font-size': '20px' }">Welcome Home</h1>

<nz-table
  #basicTable
  [nzData]="listOfData"
  [nzShowPagination]="true"
  [nzPageSize]="5"
>
  <thead>
    <tr>
      <th *ngFor="let data of colums">{{ data.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of basicTable.data">
      <td>{{ row.name }}</td>
      <td><img width="50" src="{{ row.image }}" alt="" /></td>
      <td>{{ row.price | CurrencyVND }}</td>
      <td>
        <button (click)="updatequantity(row.key, row.quantiny - 1)">-</button>
        {{ row.quantiny }}
        <button (click)="updatequantity(row.key, row.quantiny + 1)">+</button>
      </td>
      <td>{{ row.address }}</td>
      <td>{{ row.price * row.quantiny | CurrencyVND }}</td>
    </tr>
  </tbody>
</nz-table>
<form #formAdd="ngForm" (ngSubmit)="onSubmit()">
  <input
    nz-input
    type="text"
    (keyup.enter)="onSearch()"
    [(ngModel)]="count"
    name="count"
  />
  <button>Yes</button>
</form>
<div><button (click)="onFilter('daaa')">Filter</button></div>
<div><button (click)="clearFilter()">Clear Filter</button></div>
